*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 1800px;
    height: 600px;
    margin: 0 auto;
    background-image: url('\OIP.jpg');
    border: 2px solid transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

#header h1,h2,h3{
    text-align: right;
    margin-right: 345px;
    margin-top: 177px;
}

#header h1{
    font-size: 50px;
    margin-top: 10px;
    margin-right: 407px;
}
#header h2{
    font-size: 35px;
}
#header h3{
    font-size: 25px;
    margin-top: 10px;
    margin-right: 369px;
}

#header button {
    float: right;
    margin-right: 462px;
    margin-top: 15px;
    background-color: yellow;
    font-size: 20px;
    padding: 13px;
    border-radius: 40px;
}

.menu{
    width: auto;
    height: 800px;
}

.head-para{
    width: 1360px;
    margin: 0 auto;
}

.menu h1 {
    text-align: center;
    font-size: 41px;
    margin: 20px 0;
}
.menu p {
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.foodrow{
    width: auto;
    height: 686px;

}

.food-1{
    width: calc((100%)/3);
    height: 686px;
    float: left;
}
.food-2{
    width: calc((100%)/3);
    height: 686px;
    float: left;
}
.food-3{
    width: calc((100%)/3);
    height: 686px;
    float: left;
}

.food-1 img{
    width: 560px;
}
.food-2 img{
    width: 560px;
}
.food-3 img{
    width: 560px;
}

.food-button {
    text-align: center;
}

.food-button button{
    background-color: yellow;
    font-size: 20px;
    padding: 13px;
}

.try{
    width: auto;
    height: 495px;
   
}

.try .c1{
    text-align: center;
    width: calc((100%)/2);
    float: left;
}
.try .c2{
    width: calc((100%)/2);
    float: left;
}

.try .c2 .r1{
    text-align: center;
    height: 247.5px;
}
.try .c2 .r2{
    text-align: center;
    height: 247.5px;
}

.c1 img{
    width: 750px;
    height: 485px;
}

.r1 img, .r2 img{
    width: 774px;
    height: 240px;
}
.reservation h5{
    font-size: 20px;
}
.reservation h1,h4{
    text-align: center;
}
table {
    left: 34%;
    position: relative;
}
input{
    font-size: 20px;
    margin: 20px 20px;
    padding: 25px;
}
.table-btn{
    width: 298px;
    margin: 20px 20px;
    background-color: yellow;
    font-size: 20px;
    padding: 25px;
    font-weight: bold;
}